{{- $currentHost := .chezmoi.hostname | trimSuffix ".home" -}}
{{- $pubkey := index . "master_pubkey" -}}

{{- range .nodes -}}
  {{- if eq .name $currentHost -}}
    {{- $pubkey -}}
  {{- end -}}
{{- end -}}
