{{- $currentHost := .chezmoi.hostname | trimSuffix ".home" -}}

{{- range .nodes -}}
  {{- /* We check if the key "name" exists before comparing it */ -}}
  {{- if hasKey . "name" -}}
    {{- if and (eq .name $currentHost) .is_server -}}
      {{ $.master_pubkey }}
    {{- end -}}
  {{- end -}}
{{- end -}}
