# Universal Settings
Host *
    IdentityFile ~/.ssh/id_ed25519
    # Keep the connection alive
    ServerAliveInterval 60
    ServerAliveCountMax 3

# Home network
{{ range .nodes }}
# --- {{ .name | upper }} ---
Host {{ .name }}
    HostName {{ .name }}.home
    User {{ .user }}
    RequestTTY yes
    RemoteCommand PATH=$PATH:/opt/homebrew/bin:/usr/local/bin tmux new-session -A -s main

Host {{ .name }}-raw
    HostName {{ .name }}.home
    User {{ .user }}

{{- end }}

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519  # Ensure this path matches your actual key
  IdentitiesOnly yes              # Prevents SSH from trying every key in the agent
