encryption: "age"
age:
    identity: "~/.config/chezmoi/key.txt"
    symmetric: true
data:
  master_pubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDutmhbOfy+Mn6LUGNTFUbdyYBwvgWkUbfdKTXKtp2yI pdbartlett-ssh
  nodes:
    - name: "argonpi"
      user: "pdb"
      is_server: true
    - name: "macmini"
      user: "pdbartlett"
      is_server: true
    - addr: "pdbartlett-mac.roam.internal"
      is_server: false
